@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  color: rgb(86, 86, 86);
}

body {
  height: 100vh;
  width: 100vw;
}

.principal--fundo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.principal__direita {
  display: flex;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.imagemPromocional {
  width: 100%;
}

.principal__esquerda {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bloco do formulário */
.esquerda__formulario {
  width: 100%;
  max-width: 1067px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  box-shadow: 0px 0px 16px -3px #000000;
}

.formulario__titulo {
  color: rgb(76, 76, 76);
  font-weight: bold;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario__dadosGerais {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
}

.dadosGerais__bloco#dadosPessoais,
.dadosGerais__bloco#endereco {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.bloco__titulo {
  margin-left: 2px;
  font-size: 16px;
  font-weight: bold;
}

.bloco__fundo {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  min-width: 380px;
}

.bloco__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.item__dado {
  display: flex;
  flex-direction: column;
}

.dado__titulo {
  color: rgb(76, 76, 76);
  font-weight: bold;
  margin-left: 10px;
}

.dado__entrada {
  padding-left: 5px;
}

.cepMunicipioUf__subBloco {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.bloco__dados {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.cepMunicipioUf__subBloco#cep1cep2 {
  width: 30%;
}

.cepMunicipioUf__subBloco#municipioUf {
  width: 68%;
}

.item__dado#cep1 {
  width: 60%;
}

.item__dado#municipio {
  width: 80%;
}

.item__dado#cep2 {
  width: 40%;
}

.item__dado#uf {
  width: 20%;
}

.dado__entrada {
  padding-left: 10px;
  height: 50px;
  border-radius: 30px;
  border-style: none;
  background-color: rgb(226, 226, 226);
}

.dado__entrada:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  transition: all 1s;
  transform: scale(1.03);
  border: 1px solid rgb(86, 86, 86);
  border-radius: 10px;
}

.formulario__confirmar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao__confirmar {
  margin-bottom: 10%;
  box-sizing: border-box;
  width: 200px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(76, 76, 76);
  font-weight: bold;
  min-height: 50px;
}

.botao__confirmar:hover {
  transition: all 1.5s;
  cursor: pointer;
  transform: scale(1.07);
  box-shadow: 0px 0px 6px 0px rgba(255, 121, 242, 0.4);
  background: rgb(0, 254, 255);
  background: linear-gradient(90deg, 
    rgba(73,73,73,1) 0%, 
    rgba(0,0,0,1) 50%, 
    rgba(74,74,74,1) 100%);
}

.formulario__contrato {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formulario__contrato {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contrato__texto {
  margin-left: 2px;
  font-size: 12px;
  color: rgb(76, 76, 76);
  font-weight: bold;
}

.contrato__texto#link:hover {
  transition: all 1s;
  color: #ff00c8;
}

@media (max-width: 1075px) {
  .principal__direita {
    display: none;
  }

  .principal__esquerda {
    width: 100vw;
    height: 90%;
  }

  .esquerda__formulario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }

  .formulario__dadosGerais {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .dadosGerais__bloco#dadosPessoais,
  .dadosGerais__bloco#endereco {
    width: 100%;
  }

}

@media (max-height: 848px) {
  .dado__entrada {
    height: 30px;
  }
}

@media (max-width: 873px) {
  .principal__esquerda {
    width: 100%;
    height: 90%;
  }

  .esquerda__formulario {
    width: 100%;
  }
}