.fundo {
  width: 90vw;
  display: flex;
  justify-content: center;
}

.fundo__texto {
  padding: 60px;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #767676;
}

.texto__titulo {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: 200;
  text-align: justify;
}
