@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: #111;
}
/* Pesquisa e Login */

#pesquisa {
  height: 50px;
}
/* Menu Princial */

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}
nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}

/* Banner */

#banner {
  position: relative;
}
#banner img {
  display: block;
  margin: auto;
  width: 1280px;
  height: 720px;
}

#banner h1 {
  position: absolute;
  left: 50%;
  top: 400px;
}

#banner p {
  position: absolute;
  left: 50%;
  right: 25%;
  top: 470px;
}

/* Banner */

#cards {
  margin-left: 24%;
  display: inline-flex;
}

#cards img {
  height: 700px;
  padding: 50px 50px 10px;
}

#cards h1 {
  position: absolute;
  margin-left: 10%;
}

/* Novos modelos */

#divisao {
  display: flex;
  justify-content: center;
  padding: 100px;
  margin-top: 5%;
  font-family: "Edu TAS Beginner", cursive;
}

.modelosNovos {
  display: colum;
  justify-content: center;
}

.modelosNovos span {
  display: inline-block;
  padding: 10px 30px 150px;
  text-align: center;
}

.modelosNovos span img {
  height: 400px;
  margin-left: 110%;
}

.modelosNovos span p {
  position: absolute;
  margin-left: 360px;
  margin-top: 10px;
  text-align: center;
  font-size: 1.1rem;
  text-decoration: auto;
}

.modelosNovos span s {
  color: #3d3d3d;
}

/* Footer */

footer {
  height: 300px;
  background-color: #1b1b1b;
  color: #f2f2f2;
}

footer span {
  display: block;
  position: absolute;
  margin-left: 74%;
  margin-top: 25px;
}
/* Responsividade */

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}
