/*   color variables */

:root {
  --app-clr-primary: #fff;
  --app-clr-primary-hover: #1a00aa;
  --app-clr-primary-dark: #039d69;
  --app-clr-gray100: #f9f9f9;
  --app-clr-gray150: #f4f6fb;
  --app-clr-gray200: #eef1f6;
  --app-clr-gray300: #e1e5ee;
  --app-clr-gray400: #767676;
  --app-clr-gray500: #484848;
  --app-clr-gray600: #202020;
  --app-clr-gray700: #121212;
}

#cartoes {
  height: 75px;
  width: 340px;
  margin-left: 50%;
  transform: translateX(-50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 700;
  color: var(--app-clr-gray100);
  height: 100vh;
}

h2 {
  color: var(--app-clr-gray500);
}

.main-component {
  display: flex;
  align-items: center;
  margin: 2vw;
  background: var(--app-clr-primary);
  width: 96vw;
  height: 92vh;
  border-radius: 6px;
  color: var(--app-clr-gray500);
}

.container-two {
  display: flex;
  flex-direction: column;
  color: black;
}

.banner-two {
  width: 100%;
  position: relative;
}

.banner-two img {
  display: block;
  width: 100%;
  height: 80%;
}

.banner-two h1 {
  position: absolute;
  left: 60%;
  top: 400px;
}

.banner-two p {
  position: absolute;
  text-align: justify;
  left: 60%;
  right: 1%;
  top: 470px;
}

.spacer-two {
  height: 50px;
}

.categories-two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.categories-two img {
  width: 100%;
  padding: 50px;
}

.categories-two a {
  padding-left: 20px;
  text-decoration: none;
  color: #111;
}

.modelos-novos img {
  width: 100%;
  padding: 50px;
}

/* ----- componente lineas na esquerda ----- */

.lines-container {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  margin: 2vw;
  width: 60%;
  height: 70vh;
}

.line-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--app-clr-gray300);
  flex-grow: 1;
  height: 10vh;
  padding: 10px;
  border-radius: 6px;
}

.line-icons {
  width: 8%;
  color: var(--app-clr-gray600);
  font-size: 2rem;
  margin-left: 3%;
}

.line-clean {
  background: var(--app-clr-primary);
}

.line-header {
  height: fit-content;
}
.line-link {
  width: 20%;
  text-align: right;
  font-size: 0.9rem;
}

.line-link a,
.line-link a:hover,
.line-link a:visited {
  text-decoration: none;
  color: var(--app-clr-primary-hover);
}

.line-radio-btn {
  width: 20px;
  padding-left: 5px;
}

.line-products-photo {
  height: 150px;
}

.line-content {
  flex-grow: 1;
}

.line-p-title {
  font-size: 1.1rem;
}

.line-p-content {
  font-size: 0.9rem;
}
.line-p-boleto {
  font-size: 0.8rem;
}

.line-p-product-right,
.line-p-total-right {
  display: inline;
  float: right;
}

.line-p-product-left,
.line-p-total-left {
  display: inline;
  float: left;
}

.line-description {
  text-align: center;
}

.line-p-total-left {
  font-size: 1.2rem;
}

.line-p-total-right {
  font-size: 1.4rem;
}

.my-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
  transform: translateX(-50%);
  background: var(--app-clr-gray500);
  width: 200px;
  height: 60px;
  border-radius: 6px;
  color: var(--app-clr-gray100);
  border: 0;
  font-size: 1.2rem;
}

/* ----- componente lineas na direita ----- */

.product-show-container {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  margin: 1vw;
  width: 40%;
  height: 69vh;
  border: 1px solid;
  border-color: var(--app-clr-gray500);
  border-radius: 6px;
}

.photo-product {
  height: 150px;
  width: 150px;
  margin-left: 50%;
  transform: translateX(-50%);
  background: url("../images/home/camiseta1.jpg") center top/cover;
}

.footer {
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--app-clr-gray600);
  padding-left: 0.5rem;
  text-align: left;
}

.footer-names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 0.5rem;
}

#location {
  width: 80%;
}

.footer-end {
  background-image: linear-gradient(
    var(--app-clr-gray600),
    var(--app-clr-gray700)
  );
  padding: 1rem;
  text-align: center;
  font-weight: 200;
}

/* ----- Variante Mobile ----- */

@media (max-width: 900px) {
  .line-icons {
    width: 15%;
    margin-left: 2px;
    margin-right: 5px;
  }

  .line-link {
    width: 25%;
  }

  .main-component {
    flex-wrap: wrap;
    height: calc(80vh * 1.6);
  }

  .lines-container,
  .product-show-container {
    row-gap: 2vw;
    margin: 2vw;
    height: 60vh;
    width: 100%;
  }

  .main-component-payment {
    flex-wrap: wrap-reverse;
  }

  .line-p-boleto {
    margin-block: 5px;
  }

  #location {
    transform: translate(22%, 20%);
  }

  .banner-two img {
    display: block;
    width: 100%;
    height: 80%;
  }

  .banner-two h1 {
    font-size: 1rem;
    position: absolute;
    left: 2%;
    top: 55%;
  }

  .banner-two p {
    font-size: 0.8rem;
    position: absolute;
    text-align: justify;
    left: 5%;
    right: 1%;
    top: 70%;
    bottom: 90%;
  }

  .spacer-two {
    height: 200px;
  }
}

@media (max-height: 500px) {
  .line-items {
    height: 25vh;
  }
  .main-component {
    margin-top: 10px;
    height: calc(100% * 3);
  }
  .lines-container,
  .product-show-container {
    height: 28%;
    width: 100%;
  }
  .product-show-container {
    height: 130vh;
  }

  .line-products-photo {
    height: 170px;
  }

  .spacer-two {
    height: 50px;
  }
}
/* ==============================================================   */

.nav {
  border-bottom: 1px solid var(--app-clr-gray200);
}

.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  justify-items: center;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  height: 3rem;
  background: var(--app-clr-gray700);
}

.nav__menu svg {
  width: 1.5rem;
  fill: var(--app-clr-gray100);
}

.nav__menu a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.nav__menu li {
  list-style: none;
  display: none;
  z-index: 1000;
  color: var(--app-clr-gray700);
  background: var(--app-clr-gray100);
}

.nav__menu li h2 {
  color: var(--app-clr-gray100);
}

.nav__menu li:first-child {
  background: var(--app-clr-gray700);
  color: var(--app-clr-gray100);
  margin-right: auto;
  display: block;
}
.nav__checkbox {
  display: none;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0.5rem 1rem;
  right: 0;
}

.nav__toggle .menu {
  margin-top: 0.2rem;
}

.nav__toggle .close {
  display: none;
}

.nav__toggle svg {
  width: 1.5rem;
  fill: var(--app-clr-gray100);
}

/* Toggle the hamburger menu in mobile view */
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
  padding: 20px;
}
#nav__checkbox:checked ~ ul.nav__menu li:first-child {
  padding: 0px;
}

/* Change from menu to close icon on tap */
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

/* Desktop view */
@media only screen and (min-width: 560px) {
  .nav__toggle {
    display: none;
  }

  .nav__menu {
    flex-direction: row;
    height: 4.5rem;
  }

  .nav__menu li {
    background: var(--app-clr-gray700);
    color: var(--app-clr-gray100);
    display: block;
  }
}

@media only screen and (min-width: 950px) {
  .categories-two img {
    width: 90%;
  }
  .categories-two-child {
    width: 45vw;
  }
  .modelos-novos {
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .card-image {
    width: 25%;
  }

  .modelos-novos img {
    width: 80%;
    padding: 10px;
  }
}
